In [1]:
# Create code to answer each of the following questions.
# Hint: You will need multiple target URLs and multiple API requests.

# Dependencies
import time
import requests
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
data_name = 'historical_covid_data'
csv = '.csv'
url = "https://covidtracking.com/api/v1/states/daily.json"
timestr = time.strftime("%Y%m%d")

In [2]:
historical_covid_data_latest_json = requests.get(url).json()

In [3]:
new_df = pd.DataFrame(historical_covid_data_latest_json)

In [4]:
new_df

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200703,AK,1063.0,119145.0,NaN,25.0,NaN,NaN,NaN,3.0,...,120208,1,0,fab1145c346d70ae703d92bac3676bff80ea5b24,0,0,0,0,0,
1,20200703,AL,41865.0,388766.0,NaN,812.0,2883.0,NaN,838.0,NaN,...,430631,21,48,006e67beae01e0951e200fa82656c58a1c14cd70,0,0,0,0,0,
2,20200703,AR,22622.0,308615.0,NaN,285.0,1517.0,NaN,NaN,70.0,...,331237,2,40,763acfae6de0f8e0286ba20d9bc32cb65140d0d0,0,0,0,0,0,
3,20200703,AS,0.0,696.0,NaN,NaN,NaN,NaN,NaN,NaN,...,696,0,0,58e291468f971e8a0ec0c5bfa8d56fc8e202a69e,0,0,0,0,0,
4,20200703,AZ,91858.0,486523.0,NaN,3013.0,5018.0,741.0,NaN,489.0,...,578381,31,102,6f8c2473baf5cfc6b187c3a5425c301a4d645524,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6732,20200126,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,760c3dc0f1be8778f30b6d200547f3b5ac745758,0,0,0,0,0,
6733,20200125,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,8c8515283dd7f193d5ec506f4d6ef8334bc50770,0,0,0,0,0,
6734,20200124,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,01659896e63df6a3a877a4c826167fe0e44cb8a8,0,0,0,0,0,
6735,20200123,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,b8c2a13e67216abb871b61007e5a22ff3828a041,0,0,0,0,0,
6736,20200122,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,301c9c7fcd3ba68317ad772d47547f0448d98531,0,0,0,0,0,

In [5]:
new_df[['state', 'hospitalizedIncrease','positiveIncrease']][0:50]

   state  hospitalizedIncrease  positiveIncrease
0     AK                     0                46
1     AL                    48              1754
2     AR                    40               547
3     AS                     0                 0
4     AZ                   102              4433
5     CA                     0              8040
6     CO                    14               323
7     CT                     0                71
8     DC                     0                45
9     DE                     0               192
10    FL                   341              9488
11    GA                   153              2784
12    GU                     0                 6
13    HI                     0                20
14    IA                     0               220
15    ID                    10               223
16    IL                     0               937
17    IN                    36               528
18    KS                    24               929
19    KY                    23               297
20    LA                     0              1728
21    MA                    44               290
22    MD                    34               538
23    ME                     4                45
24    MI                     0               497
25    MN                    27               414
26    MO                     0               547
27    MP                     0                 1
28    MS                     0                 0
29    MT                     3                45
30    NC                     0              2099
31    ND                     3                65
32    NE                    10               142
33    NH                     2                20
34    NJ                    73               386
35    NM                    17               244
36    NV                     0               985
37    NY                     0               918
38    OH                   173              2392
39    OK                    46               526
40    OR                     0                 0
41    PA                     0               667
42    PR                     0                75
43    RI                     8                50
44    SC                    28              1831
45    SD                     4                85
46    TN                    50              1822
47    TX                     0              7555
48    UT                    24               596
49    VA                   145               658

In [6]:
new_df.columns

Index(['date', 'state', 'positive', 'negative', 'pending',
       'hospitalizedCurrently', 'hospitalizedCumulative', 'inIcuCurrently',
       'inIcuCumulative', 'onVentilatorCurrently', 'onVentilatorCumulative',
       'recovered', 'dataQualityGrade', 'lastUpdateEt', 'dateModified',
       'checkTimeEt', 'death', 'hospitalized', 'dateChecked',
       'totalTestsViral', 'positiveTestsViral', 'negativeTestsViral',
       'positiveCasesViral', 'fips', 'positiveIncrease', 'negativeIncrease',
       'total', 'totalTestResults', 'totalTestResultsIncrease', 'posNeg',
       'deathIncrease', 'hospitalizedIncrease', 'hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade'],
      dtype='object')

In [7]:
date_list = new_df['date'].unique()
date_list[0]

20200703

In [8]:
for date in range(0, len(date_list)-4):
    print(date_list[date])

20200703
20200702
20200701
20200630
20200629
20200628
20200627
20200626
20200625
20200624
20200623
20200622
20200621
20200620
20200619
20200618
20200617
20200616
20200615
20200614
20200613
20200612
20200611
20200610
20200609
20200608
20200607
20200606
20200605
20200604
20200603
20200602
20200601
20200531
20200530
20200529
20200528
20200527
20200526
20200525
20200524
20200523
20200522
20200521
20200520
20200519
20200518
20200517
20200516
20200515
20200514
20200513
20200512
20200511
20200510
20200509
20200508
20200507
20200506
20200505
20200504
20200503
20200502
20200501
20200430
20200429
20200428
20200427
20200426
20200425
20200424
20200423
20200422
20200421
20200420
20200419
20200418
20200417
20200416
20200415
20200414
20200413
20200412
20200411
20200410
20200409
20200408
20200407
20200406
20200405
20200404
20200403
20200402
20200401
20200331
20200330
20200329
20200328
20200327
20200326
20200325
20200324
20200323
20200322
20200321
20200320
20200319
20200318
20200317
20200316
20200315
20200314
20200313
20200312
20200311
20200310
20200309
20200308
20200307
20200306
20200305
20200304
20200303
20200302
20200301
20200229
20200228
20200227
20200226
20200225
20200224
20200223
20200222
20200221
20200220
20200219
20200218
20200217
20200216
20200215
20200214
20200213
20200212
20200211
20200210
20200209
20200208
20200207
20200206
20200205
20200204
20200203
20200202
20200201
20200131
20200130
20200129
20200128
20200127
20200126

In [9]:
new_df['new_hosp_3_day_avg'] = 0
new_df['new_pos_3_day_avg'] = 0
new_df['new_pos_weekly'] = 0
new_df['new_hos_weekly'] = 0
new_df['trend'] = 0
new_df['trend_rate'] = 0

In [10]:
state_list = new_df['state'].unique()
state_list

array(['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL',
       'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA',
       'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND', 'NE',
       'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI',
       'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV',
       'WY'], dtype=object)

#instead of doing all past dates, just do past month  -   len(date_list)-4
for date in range(0, 45):
    for state in range(0, len(state_list)-1):
        present_index_0 = (new_df['date'] == date_list[date]) & (new_df['state'] == state_list[state])
        present_index_1 = (new_df['date'] == date_list[date+1]) & (new_df['state'] == state_list[state])
        present_index_2 = (new_df['date'] == date_list[date+2]) & (new_df['state'] == state_list[state])
        new_hosp_0 = new_df.loc[present_index_0,'hospitalizedIncrease'].item()
        new_hosp_1 = new_df.loc[present_index_1,'hospitalizedIncrease'].item()
        new_hosp_2 = new_df.loc[present_index_2,'hospitalizedIncrease'].item()
        avg_new_hosp = (new_hosp_0 + new_hosp_1 + new_hosp_2) / 3
        new_pos_incr_0 = new_df.loc[present_index_0,'positiveIncrease'].item()
        new_pos_incr_1 = new_df.loc[present_index_1,'positiveIncrease'].item()
        new_pos_incr_2 = new_df.loc[present_index_2,'positiveIncrease'].item()
        avg_pos_incr = (new_pos_incr_0 + new_pos_incr_1 + new_pos_incr_2) / 3
        #print('average_pos = ', new_pos_incr_0)
        #print('average_pos = ', new_pos_incr_1)
        #print('average_pos = ', avg_pos_incr)
     
        new_df.loc[present_index_0,'new_hosp_3_day_avg'] = avg_new_hosp
        new_df.loc[present_index_0,'new_pos_3_day_avg'] = avg_pos_incr

In [11]:
#instead of doing all past dates, just do past month  -   len(date_list)-4
for date in range(0, 30):
    for state in range(0, len(state_list)-1):
        sum_week_cases = new_df.loc[((new_df['state'] == state_list[state])& (new_df['date'] <= date_list[date]) ), 'positiveIncrease'][0:7].sum()
        sum_week_hospitalized = new_df.loc[((new_df['state'] == state_list[state])& (new_df['date'] <= date_list[date]) ), 'hospitalizedIncrease'][0:7].sum()
        #sum_week_1 = new_df.loc[((new_df['state'] == state_list[state]) ), 'positiveIncrease'][7:14].sum()
        #sum_week_2 = new_df.loc[((new_df['state'] == state_list[state]) ), 'positiveIncrease'][14:21].sum()
        #sum_week_3 = new_df.loc[((new_df['state'] == state_list[state]) ), 'positiveIncrease'][21:28].sum()
        #sum_week_4 = new_df.loc[((new_df['state'] == state_list[state]) ), 'positiveIncrease'][28:35].sum()
        #sum_week_5 = new_df.loc[((new_df['state'] == state_list[state]) ), 'positiveIncrease'][35:42].sum()
        new_df.loc[((new_df['state'] == state_list[state]) & (new_df['date'] == date_list[date])), 'new_pos_weekly'] = sum_week_cases
        new_df.loc[((new_df['state'] == state_list[state]) & (new_df['date'] == date_list[date])), 'new_hos_weekly'] = sum_week_hospitalized
        #new_df.loc[((new_df['state'] == state_list[state]) & (new_df['date'] == date_list[date+7])), 'new_pos_weekly'] = sum_week_1
        #new_df.loc[((new_df['state'] == state_list[state]) & (new_df['date'] == date_list[date+14])), 'new_pos_weekly'] = sum_week_2
        #new_df.loc[((new_df['state'] == state_list[state]) & (new_df['date'] == date_list[date+21])), 'new_pos_weekly'] = sum_week_3
        #new_df.loc[((new_df['state'] == state_list[state]) & (new_df['date'] == date_list[date+28])), 'new_pos_weekly'] = sum_week_4
        #new_df.loc[((new_df['state'] == state_list[state]) & (new_df['date'] == date_list[date+35])), 'new_pos_weekly'] = sum_week_5

In [12]:
new_df.loc[((new_df['state'] == 'GA') ), 'positiveIncrease'][0:7].sum()

17498

In [13]:
new_df.loc[((new_df['state'] == 'GA')), 'new_pos_weekly']

11      17498
67      16614
123     14856
179     13613
235     13489
        ...
6524        0
6574        0
6622        0
6655        0
6677        0
Name: new_pos_weekly, Length: 122, dtype: int64

In [14]:
new_df.loc[((new_df['state'] == 'GA') ), 'positiveIncrease'][7:14].sum()

10986

In [15]:
for state in range(0, len(state_list)-1):
        current_total_week_cases = new_df.loc[((new_df['state'] == state_list[state])), 'new_pos_weekly'].values[0]
        previous_total_week_cases = new_df.loc[((new_df['state'] == state_list[state]) ), 'new_pos_weekly'].values[7]
        month_avg_week_cases = new_df.loc[((new_df['state'] == state_list[state]) ), 'new_pos_weekly'][7:35].mean()
        if not(previous_total_week_cases == 0):
            new_df.loc[((new_df['state'] == state_list[state]) ), 'trend_rate'] = current_total_week_cases / previous_total_week_cases
        if current_total_week_cases > previous_total_week_cases:
            new_df.loc[((new_df['state'] == state_list[state]) ), 'trend'] = "up"
        else:
            new_df.loc[((new_df['state'] == state_list[state]) ), 'trend'] = "down"

In [16]:
new_df.loc[((new_df['state'] == 'GA') ), 'new_pos_weekly'].values[7]

10986

In [17]:
new_df.loc[((new_df['state'] == 'GA') ), 'trend_rate']

11      1.592754
67      1.592754
123     1.592754
179     1.592754
235     1.592754
          ...
6524    1.592754
6574    1.592754
6622    1.592754
6655    1.592754
6677    1.592754
Name: trend_rate, Length: 122, dtype: float64

In [18]:
new_df.loc[(new_df['state'] == 'GA') , :][0:14]

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,negativeScore,positiveScore,score,grade,new_hosp_3_day_avg,new_pos_3_day_avg,new_pos_weekly,new_hos_weekly,trend,trend_rate
11,20200703,GA,90493.0,810724.0,NaN,1671.0,11653.0,NaN,2413.0,NaN,...,0,0,0,,0,0,17498,1048,up,1.592754
67,20200702,GA,87709.0,795530.0,NaN,1649.0,11500.0,NaN,2389.0,NaN,...,0,0,0,,0,0,16614,1043,up,1.592754
123,20200701,GA,84237.0,770801.0,NaN,1570.0,11275.0,NaN,2357.0,NaN,...,0,0,0,,0,0,14856,962,up,1.592754
179,20200630,GA,81291.0,752587.0,NaN,1459.0,11051.0,NaN,2323.0,NaN,...,0,0,0,,0,0,13613,928,up,1.592754
235,20200629,GA,79417.0,743700.0,NaN,1359.0,10824.0,NaN,2289.0,NaN,...,0,0,0,,0,0,13489,871,up,1.592754
291,20200628,GA,77210.0,729728.0,NaN,1236.0,10711.0,NaN,2268.0,NaN,...,0,0,0,,0,0,12509,874,up,1.592754
347,20200627,GA,74985.0,714828.0,NaN,1178.0,10689.0,NaN,2261.0,NaN,...,0,0,0,,0,0,11176,852,up,1.592754
403,20200626,GA,72995.0,698033.0,NaN,1184.0,10605.0,NaN,2244.0,NaN,...,0,0,0,,0,0,10986,833,up,1.592754
459,20200625,GA,71095.0,686829.0,NaN,1135.0,10457.0,NaN,2222.0,NaN,...,0,0,0,,0,0,10183,794,up,1.592754
515,20200624,GA,69381.0,673853.0,NaN,1124.0,10313.0,NaN,2206.0,NaN,...,0,0,0,,0,0,9351,770,up,1.592754
571,20200623,GA,67678.0,663583.0,NaN,1056.0,10123.0,NaN,2174.0,NaN,...,0,0,0,,0,0,8600,669,up,1.592754
627,20200622,GA,65928.0,642098.0,NaN,1000.0,9953.0,NaN,2155.0,NaN,...,0,0,0,,0,0,7514,631,up,1.592754
683,20200621,GA,64701.0,633606.0,NaN,944.0,9837.0,NaN,2140.0,NaN,...,0,0,0,,0,0,7020,589,up,1.592754
739,20200620,GA,63809.0,630575.0,NaN,944.0,9837.0,NaN,2140.0,NaN,...,0,0,0,,0,0,7008,613,up,1.592754

In [19]:
new_df.loc[((new_df['state'] == 'FL')& (new_df['date'] == date_list[0]) ), 'new_pos_weekly'].values[0]

55634

In [20]:
new_df.loc[((new_df['state'] == 'FL')& (new_df['date'] == date_list[7]) ), 'new_pos_weekly'].values[0]

33212

In [21]:
new_df.loc[((new_df['state'] == 'FL') ), 'new_pos_weekly'][7:8].values[0]

33212

In [22]:
current_total_week_cases

414

In [23]:
new_df['trend']

0         up
1         up
2         up
3       down
4         up
        ...
6732      up
6733      up
6734      up
6735      up
6736      up
Name: trend, Length: 6737, dtype: object

In [24]:
new_df.loc[((new_df['state'] == 'CA') ), 'new_pos_weekly'][7:35].mean()

18623.821428571428

In [25]:
new_df.loc[((new_df['state'] == 'GA') ), 'new_pos_weekly']

11      17498
67      16614
123     14856
179     13613
235     13489
        ...
6524        0
6574        0
6622        0
6655        0
6677        0
Name: new_pos_weekly, Length: 122, dtype: int64

In [26]:
new_df.loc[((new_df['state'] == 'OH') ), ['hospitalizedIncrease','positiveIncrease', 'new_pos_weekly', 'new_hos_weekly']]

      hospitalizedIncrease  positiveIncrease  new_pos_weekly  new_hos_weekly
38                     173              2392            6619             514
94                       0                 0            5214             409
150                     72              1076            6106             464
206                     93               743            5662             460
262                     65               737            5509             454
...                    ...               ...             ...             ...
6498                     0                 3               0               0
6548                     0                 0               0               0
6598                     0                 0               0               0
6638                     0                 0               0               0
6665                     0                 0               0               0

[121 rows x 4 columns]

In [27]:
new_df.loc[new_df['state'] == 'CA',['new_pos_3_day_avg','new_pos_weekly']][0:60]

      new_pos_3_day_avg  new_pos_weekly
5                     0           47774
61                    0           44624
117                   0           42435
173                   0           39844
229                   0           38496
285                   0           37419
341                   0           37124
397                   0           35045
453                   0           34472
509                   0           33207
565                   0           29513
621                   0           26602
677                   0           24969
733                   0           23666
789                   0           23433
845                   0           21818
901                   0           20824
957                   0           20071
1013                  0           20133
1069                  0           20043
1125                  0           19627
1181                  0           19082
1237                  0           19474
1293                  0           18504
1349                  0           18179
1405                  0           18313
1461                  0           18229
1517                  0           19138
1573                  0           19015
1629                  0           18110
1685                  0               0
1741                  0               0
1797                  0               0
1853                  0               0
1909                  0               0
1965                  0               0
2021                  0               0
2077                  0               0
2133                  0               0
2189                  0               0
2245                  0               0
2301                  0               0
2357                  0               0
2413                  0               0
2469                  0               0
2525                  0               0
2581                  0               0
2637                  0               0
2693                  0               0
2749                  0               0
2805                  0               0
2861                  0               0
2917                  0               0
2973                  0               0
3029                  0               0
3085                  0               0
3141                  0               0
3197                  0               0
3253                  0               0
3309                  0               0

In [28]:
new_df.loc[new_df['state'] == 'AZ','new_hosp_3_day_avg']

4       0
60      0
116     0
172     0
228     0
       ..
6517    0
6567    0
6616    0
6650    0
6674    0
Name: new_hosp_3_day_avg, Length: 122, dtype: int64

In [29]:
#x = range(11 , 0 , -1)
#plot_filter = (new_df['state'] == 'AR') & (new_df['date']>20200531)
#plt.plot(x, new_df.loc[plot_filter,'new_hosp_3_day_avg'])

In [30]:
new_df.to_csv(data_name+'latest'+csv)

In [31]:
new_df_sort = new_df.loc[new_df['date'] == 20200623,:].sort_values(by = 'new_pos_3_day_avg', ascending = False)

In [32]:
new_df_sort[['date','state','new_hosp_3_day_avg', 'new_pos_3_day_avg']]

         date state  new_hosp_3_day_avg  new_pos_3_day_avg
560  20200623    AK                   0                  0
561  20200623    AL                   0                  0
590  20200623    NC                   0                  0
591  20200623    ND                   0                  0
592  20200623    NE                   0                  0
593  20200623    NH                   0                  0
594  20200623    NJ                   0                  0
595  20200623    NM                   0                  0
596  20200623    NV                   0                  0
597  20200623    NY                   0                  0
598  20200623    OH                   0                  0
599  20200623    OK                   0                  0
600  20200623    OR                   0                  0
601  20200623    PA                   0                  0
602  20200623    PR                   0                  0
603  20200623    RI                   0                  0
604  20200623    SC                   0                  0
605  20200623    SD                   0                  0
606  20200623    TN                   0                  0
607  20200623    TX                   0                  0
608  20200623    UT                   0                  0
609  20200623    VA                   0                  0
610  20200623    VI                   0                  0
611  20200623    VT                   0                  0
612  20200623    WA                   0                  0
613  20200623    WI                   0                  0
614  20200623    WV                   0                  0
589  20200623    MT                   0                  0
588  20200623    MS                   0                  0
587  20200623    MP                   0                  0
573  20200623    HI                   0                  0
562  20200623    AR                   0                  0
563  20200623    AS                   0                  0
564  20200623    AZ                   0                  0
565  20200623    CA                   0                  0
566  20200623    CO                   0                  0
567  20200623    CT                   0                  0
568  20200623    DC                   0                  0
569  20200623    DE                   0                  0
570  20200623    FL                   0                  0
571  20200623    GA                   0                  0
572  20200623    GU                   0                  0
574  20200623    IA                   0                  0
586  20200623    MO                   0                  0
575  20200623    ID                   0                  0
576  20200623    IL                   0                  0
577  20200623    IN                   0                  0
578  20200623    KS                   0                  0
579  20200623    KY                   0                  0
580  20200623    LA                   0                  0
581  20200623    MA                   0                  0
582  20200623    MD                   0                  0
583  20200623    ME                   0                  0
584  20200623    MI                   0                  0
585  20200623    MN                   0                  0
615  20200623    WY                   0                  0

In [33]:
new_df_sort

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,negativeScore,positiveScore,score,grade,new_hosp_3_day_avg,new_pos_3_day_avg,new_pos_weekly,new_hos_weekly,trend,trend_rate
560,20200623,AK,778.0,92169.0,NaN,14.0,NaN,NaN,NaN,1.0,...,0,0,0,,0,0,102,0,up,1.991228
561,20200623,AL,31097.0,322941.0,NaN,680.0,2521.0,NaN,737.0,NaN,...,0,0,0,,0,0,4185,206,up,1.482725
590,20200623,NC,54453.0,719375.0,NaN,915.0,NaN,NaN,NaN,NaN,...,0,0,0,,0,0,8600,0,up,1.272332
591,20200623,ND,3320.0,94233.0,NaN,28.0,218.0,NaN,NaN,NaN,...,0,0,0,,0,0,196,18,up,1.543590
592,20200623,NE,17957.0,140685.0,NaN,135.0,1234.0,NaN,NaN,NaN,...,0,0,0,,0,0,1106,146,up,1.187970
593,20200623,NH,5558.0,103318.0,NaN,54.0,558.0,NaN,160.0,NaN,...,0,0,0,,0,0,213,39,down,0.683258
594,20200623,NJ,169734.0,1113717.0,NaN,1092.0,19512.0,307.0,NaN,216.0,...,0,0,0,,0,0,2308,633,up,1.033525
595,20200623,NM,10694.0,287382.0,NaN,139.0,1754.0,NaN,NaN,NaN,...,0,0,0,,0,0,849,68,up,1.278152
596,20200623,NV,13997.0,234529.0,NaN,389.0,NaN,100.0,NaN,50.0,...,0,0,0,,0,0,2339,0,up,1.989107
597,20200623,NY,389085.0,3111723.0,NaN,1104.0,89995.0,302.0,NaN,228.0,...,0,0,0,,0,0,4510,0,down,0.997427
598,20200623,OH,46127.0,624310.0,NaN,570.0,7379.0,205.0,1876.0,126.0,...,0,0,0,,0,0,4117,372,up,1.348889
599,20200623,OK,11028.0,284029.0,NaN,265.0,1288.0,111.0,NaN,NaN,...,0,0,0,,0,0,2383,158,up,1.032234
600,20200623,OR,7274.0,203438.0,NaN,184.0,983.0,58.0,NaN,28.0,...,0,0,0,,0,0,1176,71,up,1.184591
601,20200623,PA,82696.0,596407.0,NaN,738.0,NaN,NaN,NaN,151.0,...,0,0,0,,0,0,3213,0,up,1.211475
602,20200623,PR,6685.0,NaN,NaN,77.0,NaN,9.0,NaN,2.0,...,0,0,0,,0,0,734,0,up,1.046768
603,20200623,RI,16533.0,205630.0,NaN,105.0,1958.0,19.0,NaN,17.0,...,0,0,0,,0,0,369,69,up,1.018519
604,20200623,SC,26613.0,282638.0,NaN,824.0,2377.0,NaN,NaN,NaN,...,0,0,0,,0,0,6623,322,up,1.453401
605,20200623,SD,6353.0,67633.0,NaN,85.0,624.0,NaN,NaN,NaN,...,0,0,0,,0,0,387,62,up,1.175066
606,20200623,TN,36303.0,669116.0,NaN,721.0,2336.0,NaN,NaN,NaN,...,0,0,0,,0,0,4473,190,up,1.707758
607,20200623,TX,120370.0,1476920.0,NaN,4092.0,NaN,NaN,NaN,NaN,...,0,0,0,,0,0,27164,0,up,1.337685
608,20200623,UT,18300.0,283976.0,NaN,214.0,1226.0,77.0,344.0,NaN,...,0,0,0,,0,0,3363,153,up,1.052690
609,20200623,VA,58994.0,509383.0,291.0,847.0,8572.0,245.0,NaN,126.0,...,0,0,0,,0,0,3663,327,up,1.012179
610,20200623,VI,76.0,2544.0,33.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,,0,0,3,0,up,2.428571
611,20200623,VT,1164.0,58164.0,NaN,19.0,NaN,NaN,NaN,NaN,...,0,0,0,,0,0,33,0,down,0.703704
612,20200623,WA,28870.0,448334.0,NaN,204.0,4062.0,NaN,NaN,37.0,...,0,0,0,,0,0,945,168,up,2.224574
613,20200623,WI,28175.0,478165.0,142.0,240.0,3268.0,93.0,716.0,NaN,...,0,0,0,,0,0,2331,172,up,1.365880
614,20200623,WV,2582.0,151746.0,NaN,21.0,NaN,5.0,NaN,2.0,...,0,0,0,,0,0,241,0,up,1.494585
589,20200623,MT,743.0,73180.0,NaN,15.0,91.0,NaN,NaN,NaN,...,0,0,0,,0,0,129,12,up,1.834356
588,20200623,MS,22898.0,230962.0,NaN,664.0,2915.0,151.0,NaN,88.0,...,0,0,0,,0,0,2746,187,down,0.837062
587,20200623,MP,30.0,8187.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,,0,0,0,0,up,0.000000
573,20200623,HI,816.0,68524.0,NaN,NaN,99.0,NaN,NaN,NaN,...,0,0,0,,0,0,80,8,up,1.090909
562,20200623,AR,16678.0,247814.0,NaN,248.0,1188.0,NaN,NaN,57.0,...,0,0,0,,0,0,3487,162,up,1.329059
563,20200623,AS,0.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,,0,0,0,0,down,0.000000
564,20200623,AZ,58179.0,382339.0,NaN,2136.0,4255.0,614.0,NaN,386.0,...,0,0,0,,0,0,19082,46,up,1.274485
565,20200623,CA,183073.0,3313856.0,NaN,5065.0,NaN,1421.0,NaN,NaN,...,0,0,0,,0,0,29513,0,up,1.363219
566,20200623,CO,30705.0,257171.0,NaN,249.0,5343.0,NaN,NaN,NaN,...,0,0,0,,0,0,1406,74,up,1.186946
567,20200623,CT,45899.0,358045.0,NaN,138.0,10099.0,NaN,NaN,NaN,...,0,0,0,,0,0,550,187,up,1.310757
568,20200623,DC,10094.0,73208.0,NaN,171.0,NaN,61.0,NaN,40.0,...,0,0,0,,0,0,276,0,up,1.072961
569,20200623,DE,10847.0,86689.0,NaN,91.0,NaN,NaN,NaN,NaN,...,0,0,0,,0,0,444,0,up,2.231527
570,20200623,FL,103503.0,1537249.0,1425.0,NaN,13614.0,NaN,NaN,NaN,...,0,0,0,,0,0,23394,1125,up,1.675117
571,20200623,GA,67678.0,663583.0,NaN,1056.0,10123.0,NaN,2174.0,NaN,...,0,0,0,,0,0,8600,669,up,1.592754
572,20200623,GU,225.0,10426.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0,0,0,,0,0,39,0,down,0.791667
574,20200623,IA,26373.0,238330.0,NaN,163.0,NaN,47.0,NaN,26.0,...,0,0,0,,0,0,2194,0,up,1.137702
586,20200623,MO,18143.0,299231.0,NaN,595.0,NaN,NaN,NaN,66.0,...,0,0,0,,0,0,1729,0,up,1.074825
575,20200623,ID,4254.0,71910.0,NaN,34.0,293.0,11.0,102.0,NaN,...,0,0,0,,0,0,792,23,up,1.540107
576,20200623,IL,138825.0,1261685.0,NaN,1648.0,NaN,424.0,NaN,236.0,...,0,0,0,,0,0,4325,0,up,1.134181
577,20200623,IN,42871.0,383505.0,NaN,736.0,6853.0,297.0,1447.0,110.0,...,0,0,0,,0,0,2085,372,up,1.159148
578,20200623,KS,12465.0,142548.0,NaN,NaN,1056.0,NaN,342.0,NaN,...,0,0,0,,0,0,1046,68,up,1.609872
579,20200623,KY,14141.0,317153.0,NaN,376.0,2556.0,70.0,988.0,NaN,...,0,0,0,,0,0,1312,120,up,1.079715
580,20200623,LA,51595.0,584344.0,NaN,646.0,NaN,NaN,NaN,83.0,...,0,0,0,,0,0,3889,0,up,1.362328
581,20200623,MA,107439.0,680203.0,NaN,953.0,11157.0,181.0,NaN,112.0,...,0,0,0,,0,0,1554,290,up,1.097183
582,20200623,MD,65007.0,418528.0,NaN,561.0,10611.0,212.0,NaN,NaN,...,0,0,0,,0,0,2598,349,up,1.108687
583,20200623,ME,2994.0,78713.0,NaN,24.0,339.0,12.0,NaN,6.0,...,0,0,0,,0,0,175,18,up,1.433862
584,20200623,MI,68197.0,860471.0,NaN,557.0,NaN,209.0,NaN,99.0,...,0,0,0,,0,0,1928,0,up,1.275090
585,20200623,MN,33469.0,486576.0,NaN,339.0,3860.0,158.0,1191.0,NaN,...,0,0,0,,0,0,2587,202,up,1.163636
615,20200623,WY,1254.0,27485.0,NaN,8.0,109.0,NaN,NaN,NaN,...,0,0,0,,0,0,0,0,0,0.000000